@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
